@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: #f8f6f4;
  --color-foreground: #292929;

  /* Primary Colors */
  --color-primary-950: #62103a;
  --color-primary-900: #7b204e;
  --color-primary-800: #93215c;
  --color-primary-200: #f8d2ec;
  --color-primary-100: #fbe8f5;
  --color-primary-50: #fcf3f9;

  /* Secondary Colors */
  --color-secondary-950: #2c221e;
  --color-secondary-900: #54443a;
  --color-secondary-800: #675245;
  --color-secondary-700: #7d6351;
  --color-secondary-600: #967860;
  --color-secondary-500: #a3896c;
  --color-secondary-400: #b39e84;
  --color-secondary-300: #c9bca8;
  --color-secondary-200: #d7cebe;
  --color-secondary-100: #efece5;
  --color-secondary-50: #f8f6f4;

  /* Grey Colors */
  --color-grey-950: #292929;
  --color-grey-900: #3d3d3d;
  --color-grey-800: #464646;
  --color-grey-700: #525252;
  --color-grey-600: #656565;
  --color-grey-500: #7c7c7c;
  --color-grey-400: #989898;
  --color-grey-300: #bdbdbd;
  --color-grey-200: #dcdcdc;
  --color-grey-100: #efefef;
  --color-grey-50: #fcfcfc;
}
